*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
#container{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.square{
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}
.square:hover{
 transition-duration:0s ;
}
