*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #fff;
    background-color: #e0e0e0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.slider-container{
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;

}
.left-slide{
    position: absolute;
    left: 0px;
    width: 35%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.left-slide>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.right-slide{
    position: absolute;
    right: 0px;
    width: 65%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.right-slide>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
}
.action-buttons{
    position: fixed;
    top: 50%;
    left: 35%;
}
button{
    padding: 16px;
    font-size: 24px;
    color: #ccc;
    background: #e0e0e0;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    color:#000
}
.down-button{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transform: translate(-100%,0%);
}
.up-button{
    transform: translate(-110%,-100%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}