*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.progress{
    width: 600px;
    height: 4px;
    background: pink;
    animation: grow 10s linear infinite;
    transform-origin:left ;
}
@keyframes grow{
    0%{
        transform: scaleX(0);
    }
}