*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.circle{
    position: absolute;
    width: 50px;
    height: 50px;
    transform-origin: -50% ;
    border-radius: 50%;
    background: #000;
}
.circle:nth-of-type(1){
    transform: rotate(0deg);
    animation: rotate1 linear 3s infinite ;
    transition:all ;
}
.circle:nth-of-type(2){
    transform: rotate(0deg);
    animation: rotate1 3s linear infinite 1s;

}
.circle:nth-of-type(3){
    transform: rotate(0deg);
    animation: rotate1 3s linear infinite 2s;
}
@keyframes rotate1{
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotate2{
    to{
        transform: rotate(480deg);
    }
}
@keyframes rotate3{
    to{
        transform: rotate(600deg);
    }
}