* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
    --light-blue:lightblue;
  }

  body {
    background-color: steelblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

.container {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.item{
    margin: 15px 0;
}
.tips{
    color: var(--light-blue);
}
input{
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
input:focus,input:valid{
    outline: none;
    border-bottom-color:var(--light-blue);
}
.form-control{
    position: relative;
}
.form-control label{
    position: absolute;
    top: 15px;
    left: 0px;
    pointer-events: none;
}
button{   
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: var(--light-blue);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
button:focus{
    outline: 0;
}
button:active{
    transform: scale(0.98);
}

a{
    color: var(--light-blue);
    text-decoration: none;
} 
/* 
        transition-timing-function:检索或设置对象中过渡的类型
        取值：
        linear：
        线性过渡。等同于贝塞尔曲线(0.0, 0.0, 1.0, 1.0)
        ease：
        平滑过渡。等同于贝塞尔曲线(0.25, 0.1, 0.25, 1.0)
        ease-in：
        由慢到快。等同于贝塞尔曲线(0.42, 0, 1.0, 1.0)
        ease-out：
        由快到慢。等同于贝塞尔曲线(0, 0, 0.58, 1.0)
        ease-in-out：
        由慢到快再到慢。等同于贝塞尔曲线(0.42, 0, 0.58, 1.0)
        step-start：
        等同于 steps(1, start)
        step-end：
        等同于 steps(1, end)
        steps(<integer>[, [ start | end ] ]?)：
        接受两个参数的步进函数。第一个参数必须为正整数，指定函数的步数。第二个参数取值可以是start或end，指定每一步的值发生变化的时间点。第二个参数是可选的，默认值为end。
        cubic-bezier(<number>, <number>, <number>, <number>)：
        特定的贝塞尔曲线类型，1，3个数值需在[0, 1]区间内 */
 label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition:0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  input:focus +label span,input:valid + label{
    color: lightblue;
    transform: translateY(-30px);
  }
  